@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* Generic */
html, 
body {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   color: #2c3e50;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.text-light {
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.clearfix::after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }

/* Navigation */
.navigation {
    background-color: #2c3e50;
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navigation .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.navigation .menu-item {
    float:left;
    padding: 0 10px;
    font-size: .5em;
    line-height: 2.6em;
}

.navigation .menu-link {
    text-decoration: none;
}

.navigation .menu-link:hover {
    color: #1abc9c;
}

.navigation .navigation-logo {
    display: block;
    float: left;
    text-decoration: none;
}


/* Header */

.header {
    background-color: #1abc9c;
    text-align: center;
    padding: 140px 0 20px;
    font-size: 32px;
}

.header-avatar {
    max-width: 240px;
}

/* Copy */
.footer-copy {
    background-color: #333333;
    padding: 20px;
    text-align: center;
}